In [1]:
import pandas as pd
import numpy as np
import scipy
from scipy import io
features_struct = scipy.io.loadmat('../train/Competition_train.mat')#直接读取.mat函数
features = features_struct['X']

In [2]:
fratures_reshape = features.reshape(-1,3000)#-1表示自动计算，这里我们将三维矩阵降低至二维矩阵进行处理。原shape为（278，64，3000） 现为（278x64,3000）
X = pd.DataFrame(fratures_reshape)

In [3]:
X.shape

(17792, 3000)

**X为dataframe格式存储得文件拥有17792行和3000列。**

```py
X.shape
(17792, 3000)
```

In [4]:
# 从Competition_train_lab.txt文件中导入y
y_test = np.loadtxt("../train/Competition_train_lab.txt",encoding="utf-8")
y = y_test.tolist()

In [5]:
##处理label
list = []
i = j = 0
for i in range(278):
    for j in range(64):
        list.append(y[i])
# 将label进行扩展
dic={"label" :  list}#将list转换成字典
y=pd.DataFrame(dic)#存入数据为dataframe中
# y_value = y.label#取数值并赋值为y_test

**上述程序每个时序y得序列扩展为64个，原来有278个y值
执行程序之后将会变成```64x278= 17792```个**

In [28]:
X.iloc[:5,]#展示前五行

,0,1,2,3,4,5,6,7,8,9,...,2990,2991,2992,2993,2994,2995,2996,2997,2998,2999
0,6.59375,6.59375,6.18750,6.03125,5.50000,5.37500,5.37500,4.93750,5.06250,5.31250,...,-3.90625,-3.84375,-3.00000,-2.93750,-2.31250,-1.43750,-1.09375,-0.46875,-0.21875,-0.06250
1,-6.12500,-6.06250,-5.40625,-5.25000,-4.65625,-4.34375,-4.12500,-4.09375,-4.25000,-4.50000,...,4.71875,4.43750,4.09375,4.28125,3.09375,2.43750,1.96875,1.34375,0.15625,0.65625
2,9.21875,9.75000,9.84375,10.40625,10.59375,10.06250,9.28125,9.28125,9.96875,10.15625,...,27.28125,26.90625,26.50000,26.06250,25.81250,25.09375,24.31250,22.81250,21.40625,21.09375
3,-39.34375,-39.62500,-39.46875,-39.84375,-40.56250,-40.65625,-41.15625,-41.43750,-40.46875,-39.50000,...,-20.12500,-19.81250,-19.65625,-19.56250,-19.81250,-20.00000,-20.12500,-20.75000,-21.06250,-21.18750
4,-33.06250,-31.93750,-30.40625,-29.65625,-29.81250,-29.96875,-31.18750,-32.46875,-32.68750,-32.15625,...,6.12500,6.37500,6.03125,6.21875,6.21875,6.03125,6.50000,6.21875,5.87500,5.87500

In [29]:
y.iloc[:5,]

   label
0   -1.0
1   -1.0
2   -1.0
3   -1.0
4   -1.0

In [6]:
X_train,X_test,y_train,y_test  = X.iloc[:-5338,:],X.iloc[-5338:,:],y.iloc[:-5338,:],y.iloc[-5338:,:]

In [12]:
from keras.models import Sequential
import keras.optimizers as opti
from keras.layers import Dense, Activation,Dropout
model = Sequential()
model.add(Dense(100, input_dim=3000))
model.add(Activation('selu'))
model.add(Dropout(0.3))
model.add(Dense(100))
model.add(Dropout(0.3))
model.add(Activation('selu'))
model.add(Dense(50))
model.add(Activation('elu'))
model.add(Dense(2))
model.summary()

Model: "sequential_2"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_8 (Dense)              (None, 100)               300100
_________________________________________________________________
activation_6 (Activation)    (None, 100)               0
_________________________________________________________________
dropout_4 (Dropout)          (None, 100)               0
_________________________________________________________________
dense_9 (Dense)              (None, 100)               10100
_________________________________________________________________
dropout_5 (Dropout)          (None, 100)               0
_________________________________________________________________
activation_7 (Activation)    (None, 100)               0
_________________________________________________________________
dense_10 (Dense)             (None, 50)                5050
_________________________________________________________________
activation_8 (Activation)    (None, 50)                0
_________________________________________________________________
dense_11 (Dense)             (None, 2)                 102
=================================================================
Total params: 315,352
Trainable params: 315,352
Non-trainable params: 0
_________________________________________________________________

In [13]:
learning_rate=0.001
optimizer = opti.RMSprop(lr=learning_rate)
model.compile(optimizer=optimizer,loss='mse')

In [16]:
data=X_train
target = y_train
model.fit(data, target, epochs=20, batch_size=10,verbose=1)

Epoch 1/20
1246/1246 [==============================] - 4s 3ms/step - loss: 0.5360
Epoch 2/20
1246/1246 [==============================] - 4s 3ms/step - loss: 0.5126
Epoch 3/20
1246/1246 [==============================] - 5s 4ms/step - loss: 0.4992
Epoch 4/20
1246/1246 [==============================] - 5s 4ms/step - loss: 0.4984
Epoch 5/20
1246/1246 [==============================] - 5s 4ms/step - loss: 0.4996
Epoch 6/20
1246/1246 [==============================] - 5s 4ms/step - loss: 0.4888
Epoch 7/20
1246/1246 [==============================] - 5s 4ms/step - loss: 0.4799
Epoch 8/20
1246/1246 [==============================] - 6s 4ms/step - loss: 0.4629
Epoch 9/20
1246/1246 [==============================] - 5s 4ms/step - loss: 0.4676
Epoch 10/20
1246/1246 [==============================] - 5s 4ms/step - loss: 0.4445
Epoch 11/20
1246/1246 [==============================] - 5s 4ms/step - loss: 0.4466
Epoch 12/20
1246/1246 [==============================] - 5s 4ms/step - loss: 0.4495
Epoch 13/20
1246/1246 [==============================] - 5s 4ms/step - loss: 0.4537
Epoch 14/20
1246/1246 [==============================] - 5s 4ms/step - loss: 0.4171
Epoch 15/20
1246/1246 [==============================] - 5s 4ms/step - loss: 0.4178
Epoch 16/20
1246/1246 [==============================] - 5s 4ms/step - loss: 0.4107
Epoch 17/20
1246/1246 [==============================] - 5s 4ms/step - loss: 0.4222
Epoch 18/20
1246/1246 [==============================] - 5s 4ms/step - loss: 0.4116
Epoch 19/20
1246/1246 [==============================] - 5s 4ms/step - loss: 0.4024
Epoch 20/20
1246/1246 [==============================] - 5s 4ms/step - loss: 0.3989

In [41]:
a=model.predict(X_test)
print("RMSE for Deep Network:",np.sqrt(np.mean((y_test.iloc[0,0]-a[0,0])**2)))

RMSE for Deep Network: 0.6577597856521606